<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="server=(localdb)\MSSQLLocalDB;database=ACMEv2;Integrated Security=SSPI"/>
    <add key="Disable-TLSALPN-Challenge"/>
    <add key="CAConfig" value="win-ca.dev.local\dev-ca"/><!-- CAConfig or CEP URL -->
    <add key="CAConfig-User" value="CAUser"/><!-- Only valid for UsernamePassword CEP CAConfig -->
    <add key="CAConfig-Pass" value="CAPass"/><!-- Only valid for UsernamePassword CEP CAConfig -->
    <add key="CACertTemplate" value="ACME_WebServer_2048"/>
    <add key="CAChain" value="C:\path\to\ca-chain.cer"/>
  </appSettings>
</configuration>
