<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="server=(localdb)\MSSQLLocalDB;database=ACMEv2;Integrated Security=SSPI"/>
    <add key="Disable-TLSALPN-Challenge"/>
    <add key="RSA-CAConfig" value="win-ca.dev.local\dev-ca"/><!-- CAConfig or CES URL -->
    <add key="RSA-CAConfig-User" value="CAUser"/><!-- Only valid for UsernamePassword CES CAConfig -->
    <add key="RSA-CAConfig-Pass" value="CAPass"/><!-- Only valid for UsernamePassword CES CAConfig -->
    <add key="RSA-CACertTemplate" value="ACME_WebServer_2048"/>
    <add key="RSA-CAChain" value="C:\path\to\ca-chain.cer"/>
    <add key="RSA-RevokeURL" value="https://win-ca.dev.local/?Config=win-ca.dev.local\dev-ca&amp;Reason={Reason}&amp;ID={CARequestID}" />
  </appSettings>
<!-- Setting for IIS hosted -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath=".\acme.net.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess"/>
    <httpErrors errorMode="DetailedLocalOnly"/>
    <caching enabled="true" enableKernelCache="true"/>
  </system.webServer>
</configuration>
